*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px 0 37px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5E6282;
}

h3 {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183E;
}

h5 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 21px;
  line-height: 124.5%;
  color: #080809;
  margin-bottom: 34px;
}

/**
Example:
@include font-face('Roboto', '../fonts/RobotoRegular', null, null, woff2 woff);
@include font-face('Roboto', '../fonts/RobotoBold', 700, null, woff2 woff);
**/

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Philosopher";
  font-weight: 700;
  src: url("../fonts/Philosopher-Bold.woff2") format("woff2"), url("../fonts/Philosopher-Bold.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Volkhov";
  font-weight: 700;
  src: url("../fonts/Volkhov-Bold.woff2") format("woff2"), url("../fonts/Volkhov-Bold.woff") format("woff");
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 33px 0 0 13px;
}

header nav .header__logo {
  padding-bottom: 27px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 55px;
}

header nav ul a {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
}

header nav ul li:last-child a {
  padding: 17px;
  border: 2px solid #FFFFFF;
  border-radius: 12px;
  margin-left: 20px;
}

header nav ul select {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  background: transparent;
  color: rgba(33, 40, 50, 0.59);
}

header nav ul select:active,
header nav ul select:focus {
  outline: none;
}

.popular__bg {
  background: url(/assets/img/background.webp) center/auto 100% no-repeat;
  -webkit-box-shadow: 0px 0px 50px #E7AC72;
  box-shadow: 0px 0px 50px #E7AC72;
}

.main__popular {
  padding: 211px 44px 29px 23px;
}

.main__popular .popular__search {
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 64.0184px 76.8221px 80px rgba(0, 0, 0, 0.07), 41.4934px 49.7921px 46.8519px rgba(0, 0, 0, 0.0531481), 24.659px 29.5907px 25.4815px rgba(0, 0, 0, 0.0425185), 12.8037px 15.3644px 13px rgba(0, 0, 0, 0.035), 5.21632px 6.25958px 6.51852px rgba(0, 0, 0, 0.0274815), 1.18553px 1.42263px 3.14815px rgba(0, 0, 0, 0.0168519);
  box-shadow: 64.0184px 76.8221px 80px rgba(0, 0, 0, 0.07), 41.4934px 49.7921px 46.8519px rgba(0, 0, 0, 0.0531481), 24.659px 29.5907px 25.4815px rgba(0, 0, 0, 0.0425185), 12.8037px 15.3644px 13px rgba(0, 0, 0, 0.035), 5.21632px 6.25958px 6.51852px rgba(0, 0, 0, 0.0274815), 1.18553px 1.42263px 3.14815px rgba(0, 0, 0, 0.0168519);
  border-radius: 12px;
  padding: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 27px;
}

.main__popular .popular__search button {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  width: 175px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #E7AC72;
  border-radius: 12px;
}

.main__popular .popular__search ul {
  height: 72px;
  padding: 0 11px;
  background: white;
  border-radius: 12px;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main__popular .popular__search ul li:first-child .select__wrapper {
  margin-right: 5px;
  position: relative;
}

.main__popular .popular__search ul li:first-child .select__wrapper:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 10px;
  height: 7px;
  background: url(/assets/img/arrow-down-1.svg) center/auto no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
}

.main__popular .popular__search ul li:first-child .select__wrapper select {
  width: 100%;
  margin-right: 140px;
}

.main__popular .popular__search ul li:last-child .select__wrapper {
  margin-right: 8px;
  position: relative;
}

.main__popular .popular__search ul li:last-child .select__wrapper:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 15px;
  height: 8px;
  background: url(/assets/img/arrow-down-2.svg) center/auto no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
}

.main__popular .popular__search ul li:last-child .select__wrapper select {
  width: 100%;
  margin-right: 88px;
}

.main__popular .popular__search ul li:not(:last-child) {
  padding-right: 47px;
}

.main__popular .popular__search ul li:not(:first-child) {
  padding-left: 47px;
}

.main__popular .popular__search ul li:not(:first-child) select {
  font-size: 12px !important;
}

.main__popular .popular__search ul li:nth-child(even) {
  background: #2F4E84;
  width: 1px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main__popular .popular__search ul li label {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  gap: 8px 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__popular .popular__search ul li label svg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.main__popular .popular__search ul li label span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3E4958;
}

.main__popular .popular__search ul li label .select__wrapper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.main__popular .popular__search ul li label .select__wrapper select {
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #3E4958;
}

.main__popular .popular__search ul li label .select__wrapper select:active,
.main__popular .popular__search ul li label .select__wrapper select:focus {
  outline: none;
}

.main__popular .popular__list {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main__popular .popular__list li:nth-child(even) {
  background: white;
  width: 2px;
  height: 10px;
}

.main__popular h1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 47px;
  line-height: 57px;
  color: #FFFFFF;
  margin-bottom: 50px;
  position: relative;
}

.main__popular h1 img {
  position: absolute;
  top: 10px;
  right: -45px;
}

.main__popular .popular__cards {
  max-width: 608px;
  margin-bottom: 36px;
}

.main__popular .popular__cards .cards__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
}

.main__popular .popular__cards .cards__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 40px;
}

.main__popular .popular__cards .cards__body li {
  padding: 8px;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid white;
  border-radius: 12px;
}

.main__popular .popular__cards .cards__body li img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 10px;
}

.main__popular .popular__cards .cards__body li p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: 0.015em;
  color: #023F76;
}

.main__popular .popular__cards .cards__body li span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 124.5%;
  letter-spacing: -0.02em;
  color: #023F76;
  margin-left: 6px;
}

.category__container .main__category {
  padding: 8px 0 33px 0;
  text-align: center;
  background: url(/assets/img/plus-right-top.webp) right 14px top/auto no-repeat;
}

.category__container .main__category h2 {
  margin-bottom: 10px;
}

.category__container .main__category h3 {
  margin-bottom: 110px;
}

.category__container .main__category ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 118px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.category__container .main__category ul li:nth-child(2) {
  position: relative;
  padding: 45px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 36px;
  margin: 0 -40px;
}

.category__container .main__category ul li:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #E7AC72;
  border-radius: 30px 30px 10px 10px;
  left: -35px;
  bottom: -33px;
  z-index: -1;
}

.category__container .main__category ul li img {
  height: 78px;
  margin-bottom: 30px;
}

.category__container .main__category ul li .card__title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #1E1D4C;
  margin-bottom: 15px;
}

.category__container .main__category ul li .card__text {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #5E6282;
  max-width: 181px;
}

.main__selling {
  padding: 73px 197px 0 156px;
  text-align: center;
}

.main__selling h2 {
  margin-bottom: 8px;
}

.main__selling h3 {
  margin-bottom: 60px;
}

.main__selling ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.main__selling ul li {
  position: relative;
}

.main__selling ul li:last-child {
  margin-left: 25px;
}

.main__selling ul li:last-child::after {
  content: "";
  position: absolute;
  right: -62px;
  bottom: 47px;
  width: 96px;
  height: 252px;
  background: url(/assets/img/decore.webp) center/auto no-repeat;
  z-index: -1;
}

.main__selling ul li img {
  -webkit-filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  border-radius: 24px;
}

.main__selling ul li .img__text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 27px 42px 42px 20px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5E6282;
  background: white;
  width: 100%;
  border-radius: 0 0 24px 24px;
}

.main__selling ul li .img__text .img__text_top {
  margin-bottom: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main__selling ul li .img__text .img__text_bottom {
  text-align: left;
  font-size: 16px;
}

.main__selling ul li .img__text .img__text_bottom span {
  margin-left: 15px;
  vertical-align: top;
}

.main__trip {
  padding: 73px 183px 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 118px;
}

.main__trip .trip__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 511px;
  flex: 0 1 511px;
}

.main__trip h2 {
  margin-bottom: 15px;
}

.main__trip h3 {
  margin-bottom: 31px;
}

.main__trip ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 48px;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 124.5%;
  color: #5E6282;
}

.main__trip ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  gap: 4px 21px;
}

.main__trip ul li:first-child div {
  background: #F0BB1F;
}

.main__trip ul li:nth-child(2) div {
  background: #F15A2B;
}

.main__trip ul li:last-child div {
  background: #006380;
}

.main__trip ul li div {
  margin-top: 4px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  border-radius: 13px;
  width: 47px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__trip ul li a {
  font-weight: 700;
}

.main__trip ul li span {
  font-weight: 400;
  max-width: 327px;
}

.main__trip .trip__card {
  position: relative;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 26px;
  padding: 20px 24px 31px 25px;
}

.main__trip .trip__card::after {
  position: absolute;
  content: "";
  left: -84px;
  bottom: -60px;
  width: 654px;
  height: 667px;
  background: url(/assets/img/overlay_blue.webp) center/auto no-repeat;
  z-index: -1;
}

.main__trip .trip__card img {
  border-radius: 24px;
  margin-bottom: 26px;
}

.main__trip .trip__card p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: 0.015em;
  color: #080809;
  margin-bottom: 13px;
}

.main__trip .trip__card p + span {
  margin-right: 16px;
}

.main__trip .trip__card span {
  display: inline-block;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.005em;
  color: #84829A;
  margin-bottom: 21px;
}

.main__trip .trip__card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 30px;
}

.main__trip .trip__card ul li {
  display: inline;
}

.main__trip .trip__card ul li:last-child {
  margin-left: -5px;
}

.main__trip .trip__card ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: #F5F5F5;
  border-radius: 50%;
}

.main__trip .trip__card .card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main__trip .trip__card .card__footer span {
  margin-bottom: 0;
  margin-left: -126px;
}

.main__trip .trip__card .second__card {
  position: absolute;
  right: -115px;
  bottom: 52px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  padding: 16px 25px 22px 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 18px;
}

.main__trip .trip__card .second__card img {
  margin-top: 4px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.main__trip .trip__card .second__card span {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.035em;
  color: #84829A;
  margin-bottom: 6px;
}

.main__trip .trip__card .second__card a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: -0.015em;
  color: #080809;
  margin-bottom: 14px;
}

.main__trip .trip__card .second__card label {
  margin-bottom: 14px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.055em;
}

.main__trip .trip__card .second__card label span {
  color: #8A79DF;
  margin-bottom: 0;
}

.main__trip .trip__card .second__card progress {
  height: 5px;
  width: 156px;
}

.main__trip .trip__card .second__card progress::-webkit-progress-bar {
  background: #F5F5F5;
  border-radius: 30px;
}

.main__trip .trip__card .second__card progress::-webkit-progress-value {
  background: #8A79DF;
  border-radius: 30px;
}

.main__testimonials {
  padding: 71px 222px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 121px;
}

.main__testimonials .slider__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 410px;
  flex: 0 1 410px;
}

.main__testimonials h2 {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.main__testimonials h3 {
  margin-bottom: 82px;
}

.main__testimonials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.main__testimonials ul li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #E5E5E5;
}

.main__testimonials ul li:first-child {
  background: #39425D;
}

.main__testimonials .slider__right {
  padding-top: 34px;
}

.main__testimonials .slider__right .slide__top {
  z-index: 1;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
  padding: 28px 68px 34px 34px;
  max-width: 504px;
}

.main__testimonials .slider__right .slide__top:before {
  position: absolute;
  content: url(/assets/img/person.webp);
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main__testimonials .slider__right .slide__top .slide__text {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #5E6282;
  margin-bottom: 34px;
  max-width: 390px;
}

.main__testimonials .slider__right .slide__bottom {
  position: relative;
  border: 2px solid #F7F7F7;
  -webkit-filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  border-radius: 10px;
  padding: 156px 0 22px 34px;
  margin-top: -156px;
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}

.main__testimonials .slider__right .slide__bottom::after {
  position: absolute;
  content: url(/assets/img/slider-arrow-bottom.svg);
  top: 80px;
  right: -80px;
}

.main__testimonials .slider__right .slide__bottom::before {
  position: absolute;
  content: url(/assets/img/slider-arrow-top.svg);
  right: -80px;
  top: 16px;
}

.main__testimonials .slider__right .person__name {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5E6282;
  margin-bottom: 5px;
}

.main__testimonials .slider__right span {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #5E6282;
}

.main__companies {
  padding: 73px 183px 70px 12px;
}

.main__companies h4 {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 39.7578px;
  line-height: 51px;
  text-transform: capitalize;
  color: #14183E;
  margin-bottom: 44px;
}

.main__companies .companies__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 75px;
  margin-bottom: 131px;
}

.main__companies .companies__logo img:last-child {
  margin-left: 72px;
}

.main__companies form {
  position: relative;
  padding: 79px 155px 78px 156px;
  margin-left: 20px;
  background: url(/assets/img/right-top.webp) right top/auto no-repeat, url(/assets/img/left-bottom.webp) bottom left 20px/auto no-repeat;
  background-color: rgba(223, 215, 249, 0.2);
  border-radius: 129px 20px 20px 20px;
}

.main__companies form:after {
  position: absolute;
  content: url(/assets/img/message-orange.webp);
  top: -13px;
  right: -20px;
}

.main__companies form:before {
  position: absolute;
  content: url(/assets/img/plus-right-bottom.webp);
  bottom: -70px;
  right: -99px;
}

.main__companies form label {
  display: block;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
  text-align: center;
  color: #5E6282;
  margin-bottom: 74px;
}

.main__companies form .row {
  position: relative;
  margin-left: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.main__companies form .row::before {
  position: absolute;
  content: url(/assets/img/letter.svg);
  top: 25px;
  left: 31px;
  z-index: 1;
}

.main__companies form input {
  width: 421px;
  height: 68px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  padding-left: 66px;
}

.main__companies form input::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #39425D;
}

.main__companies form input::-moz-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #39425D;
}

.main__companies form input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #39425D;
}

.main__companies form input::-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #39425D;
}

.main__companies form input::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #39425D;
}

.main__companies form button {
  width: 180px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF946D), to(#FF7D68));
  background: -o-linear-gradient(top, #FF946D 0%, #FF7D68 100%);
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  border-radius: 10px;
}

.footer__body {
  padding: 162px 0 0 101px;
}

.footer__body > p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  color: #5E6282;
  text-align: center;
  margin-left: -101px;
}

.footer__body .footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 82px;
  margin-bottom: 70px;
}

.footer__body .footer__navigation .footer__logo {
  margin-top: -5px;
}

.footer__body .footer__navigation .footer__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__body .footer__navigation .footer__logo a span {
  margin-top: -10px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 13px;
  line-height: 124.5%;
  color: #5E6282;
  padding-left: 40px;
}

.footer__body .footer__navigation .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 72px;
}

.footer__body .footer__navigation .footer__links .links__item:last-child {
  margin-left: 19px;
}

.footer__body .footer__navigation .footer__links .item__list li {
  margin-bottom: 14px;
}

.footer__body .footer__navigation .footer__links .item__list li a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5E6282;
}

.footer__body .footer__navigation .footer__app a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__body .footer__navigation .footer__app a:first-child {
  width: 41px;
  height: 41px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: -3px 30px 30px 0;
}

.footer__body .footer__navigation .footer__app a:nth-child(2) {
  width: 31px;
  height: 31px;
  background: #6F2C34;
  -webkit-box-shadow: 0px 1.37778px 6.88889px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1.37778px 6.88889px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: -3px 34px 30px 0;
}

.footer__body .footer__navigation .footer__app a:nth-child(3) {
  width: 41px;
  height: 41px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: -3px 0 30px;
}

.footer__body .footer__navigation .footer__app p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 124.5%;
  letter-spacing: 0.005em;
  color: #5E6282;
  margin-bottom: 16px;
}

.footer__body .footer__navigation .footer__app .google__link {
  width: 107px;
  height: 35px;
  gap: 5px;
  background: #080809;
  border-radius: 17.5px;
  margin-right: 7px;
}

.footer__body .footer__navigation .footer__app .apple__link {
  width: 100px;
  height: 35px;
  gap: 4px;
  background: #080809;
  border-radius: 17.5px;
  vertical-align: top;
}