footer {
    background: $primary;
}

.footer__body {
    padding: 70px 0 73px;
    nav {
        padding-bottom: 47px;
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 34px;
        border-bottom: 1px solid $accent;
        .footer__logo {
            flex: 0 0 240px;
            a{
                font-family: 'YesevaOne';
                font-size: 36px;
                line-height: 42px;
                text-transform: uppercase;
                color: $accent;
                display: block;
                margin-bottom: 18px;
            }
            span {
                font-size: 18px;
                color: $white;
            }
        }
        ul {
            li {
                &:not(:first-child) {
                    margin-bottom: 7px;
                    a{
                        color: $white;
                    }
                }
                &:first-child {
                    margin-bottom: 39px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 21px;
                    color: $white;
                }
            }
        }
        form {
            flex: 1 0 auto;
            label {
                display: block;
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 39px;
                color: $white;
            }

            .input__wrapper {
                position: relative;
                input {
                    cursor: pointer;
                    height: 50px;
                    width: 100%;
                    background: $accent;
                    border-radius: 5px;
                    padding-left: 10px;
                    &::placeholder {
                        color: $primary;
                    }
                }
                i {
                    position: absolute;
                    top: 0;
                    right: 12px;
                    transform: translateY(50%);
                    pointer-events: none;
                }

            }
            
        }
    }
    .footer__end {
        margin-top: 44px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            line-height: 19px;
            color: $white;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 20px;
        }
    }
}