.welcome__body {
    padding-top: 114px;
    text-align: center;
    h3{
        margin-bottom: 15px;
    }
    p{
        max-width: 658px;
        margin: 15px auto 32px;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: $secondary;
        margin-bottom: 61px;
    }
}