.specialties__body {
    padding: 128px 0 64px;
    text-align: center;
    .specialties__list {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(4, 1fr);
        gap: 1px;
        padding: 1px;
        background-color: rgba(0, 0, 0, 0.19);
        li{ 
            background: white;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 8px;
                border-radius: 5px;
                padding: 50px 0;
                &:hover, &:focus, &:active {
                    background: $primary;
                    color: $accent;
                    svg{
                        path {
                            fill: $accent;
                        }
                    }
                }
            }
        }
    }

}




// 