.contacts__body {
    padding: 64px 0;
    h2, h3 {
        text-align: center;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        li{
            flex: 1 1 233px;
            height: 233px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 5px;
            padding-left: 30px;
            background: $accent;
            border-radius: 5px;
            padding-left: 30px;
            h2{
                letter-spacing: normal;
                color: $primary;
                margin: 10px 0 3px;
            }
            a {
                color: $primary;
            }
            &:focus, &:hover, &:active {
                background: $primary;
                color: $accent;
                a,h2 {
                    color: $accent;
                }
                svg{
                    path {
                        stroke: $accent;
                    }
                }
            }
        }
    }
} 