@font-face {
	font-family: BernhardStd BoldCondensed;
	font-display: swap;
	src: url("../fonts/BernhardStd BoldCondensed.woff2") format("woff2"), url("../fonts/BernhardStd BoldCondensed.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
