.container {
    width: 790px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(4, 1fr);
}

.container > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    grid-area: 1/1/2/2;
    background: #0f1629;
    color: white;
    padding: 20px 0;
}

nav {
    grid-area: 1/2/2/5;
    background: #ef3d4d;
    color: white;
    padding: 20px 0;
    display: table-cell;
    vertical-align: middle 
}

.hero {
    grid-area: 2/1/5/5;
    background: #4c86c6;
    color: white;
    padding: 20px 0;
}

main {
    grid-area: 5/1/7/3;
    background: #24344b;
    color: white;
    padding: 20px 0;
}

.banner {
    grid-area: 7/1/8/5; 
    background: #fed269;
    padding: 20px 0;
}

.extra {
    grid-area: 6/4/7/5;
    background: #4dbd97;
    padding: 20px 0;
}

.image {
    grid-area: 5/4/6/5;
    background: #c1e4e6;
    padding: 20px 0;
}