table {
    width: 510px;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
}

th {
    padding: 10px 50px;
}

th, td {
    border: 2px solid black;
    text-align: center;
}

th, tbody td:first-child {
    background: lightgray;
    font-weight: 800;
}

.right {
   text-align: right;
}





