* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 980px;
    margin: 10px auto 0;
    padding: 30px 15px;
    box-shadow: 0 0 10px 0 gray;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    border-bottom: 2px solid gray;
    letter-spacing: 1px;
}

p {
    font-size: 1rem;
    color: gray;
    line-height: 1.2rem;
    padding-top: 15px;
}

.main {
    column-count: 3;
    column-rule: 1px dotted gray;
    column-gap: 40px;
    margin-bottom: 30px;
}

.main2 p {
    padding: 10px 0;
    column-count: 2;
    column-rule: 1px dotted gray;
    column-gap: 40px;
}

.main3 {
    column-count: 4;
    column-rule: 1px dotted gray;
    column-gap: 40px;
    margin-bottom: 30px;
}

.side p {
    margin-bottom: 20px;
}

.footer {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 20px 0;
    text-align: center;
    color: black;
}

.footer p {
    padding: 0;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}