* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

.wrapper {
    width: 400px;
    margin: 20px auto ;
    border: 1px solid yellow;
}

li {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 25px;
}

li > div {
    grid-area: 1/2/2/4;
}

h2 {
   font-weight: 300;
}

[type=text], [type=password], textarea {
    width: 100%;
}

textarea::placeholder {
    font-size: 10px;
    padding-left: 5px;
}

select, button {
    background: #d9d9d9;
}

select {
    font-size: 10px;
    background: #d9d9d9;
}

input, button {
    border: 1px solid #d5d2d0;
    border-radius: 3px;
}

[type=checkbox], [type=radio] {
    margin: 0 5px 0 4px;
}

[type=url] {
    background: #eceae9;
}


