*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

h1, h2 , h3, h4, h5, h6 {
    font-weight: 400;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

html, body {
    height: 100%;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
}

/* ************************************************** */
header {
    background: #959595;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.header__container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 28px;
}

.header__menu ul {
    display: flex;
    align-items: center;
    justify-content: end;
}

.menu__item {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 50px 17px;
}

.menu__item:hover,
.menu__item:focus {
    background: #757575;
}

.menu__item span {
    margin-left: 10px;
    font-size: 12px;
}

.icon-burger {
    font-size: 40px;
}

/* ******************************************* */

main {
    flex: 1 0 auto;
}

.main__top {
    background: #959595;
}

.main__top_container {
    padding: 115px 50px 200px;
}

.top__body {
    background: url(img/ring.png) left top/auto no-repeat;
    max-width: 650px;
}

h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 90px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.top__body p {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

.bottom__body {
    margin-top: -100px;
    padding: 85px 85px 320px;
    z-index: 1;
    background: white;
}

.body__image {
    width: 457px;
    height: 322px;
    background:  #C4C4C4;
    float: left;
    margin: 0 30px 30px 0;
}

h5 {
    font-weight: 900;
    font-size: 45px;
    line-height: 68px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #1B1717;
    margin-bottom: 15px;
}

.bottom__body p {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #6E6E6E;
    margin-bottom: 30px;
}

p.first-child {
    margin-bottom: 20px;
}

.button {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
}

/* ******************************************* */

footer {
    background: #1B1717;;
}

.footer__top {
    position: relative;
    max-width: 1110px;
    margin: -225px auto 0;
    padding: 30px 0;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center; 
    background: white;
    z-index: 1;   
}

.footer__body {
    padding: 105px 115px 30px;
    background: #757575;
    margin-top: -75px;
}

h2{
    font-weight: 900;
    font-size: 60px;
    line-height: 90px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

.footer__body button {
    padding: 25px 40px;
    background: #1B1717;
}

.footer__bottom {
    display: grid;
    grid-template-columns: minmax(auto, 350px) 1fr minmax(auto, 300px);
    column-gap: 150px;
    padding: 60px 0;
}

h3 {
    font-weight: 900;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer__contact h3,
.footer__info p {
    margin-bottom: 30px;
}

.footer__bottom p,
.footer__bottom ul {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

.info__icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.icons__item{
    display: block;
    color:#757575;
    font-size: 25px;
}

.footer__list li:not(:last-child) {
    margin-bottom: 15px;
}

.footer__list li::before {
    content: "\e90f";
    font-size: 14px;
    color:  #757575;
    font-family: 'icomoon_font' ;
    margin-right: 10px;
}

.contact__list {
    margin-bottom: 25px;
}

.contact__list li:not(:last-child) {
    margin-bottom: 15px;
}

.city__link::before {
    content: "\e90e";
    color:  #757575;
    font-size: 20px;
    font-family: 'icomoon_font' ;
    margin-right: 15px;
}

.mail__link::before {
    content: "\e90d";
    color:  #757575;
    font-size: 15px;
    font-family: 'icomoon_font' ;
    margin-right: 10px;
}

input {
    width: 100%;
    border-bottom: 5px solid rgba(255, 255, 255, 0.25);
    background: #757575;
    margin-bottom: 15px;
    padding: 25px 0 20px 15px;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color: white;
}

input::placeholder {
    color: white;
}

form button {
    background: #757575;
    padding: 25px 50px;
}

.footer__nav {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.footer__nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
}