@font-face {
    font-family: SegoeUI;
    src: url(fonts/SegoeUI.ttf);
}

@font-face {
    font-family: SegoeUI-Bold;
    src: url(fonts/SegoeUI-Bold.ttf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'Consolas';
    src: url(fonts/Consolas.ttf);
}



*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    background: #E5E5E5;
    
}

._container {
    max-width: 1280px;
    margin: 0 auto;
    
}

/* ********************************************************************************** */

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 80px 0;
}

.header__logo {
    font-family: 'Amarante', cursive;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.main__container {
    display: grid;
    grid-template-columns: minmax(auto, 80px) auto minmax(auto, 300px);
    column-gap: 30px;
    margin-bottom: 40px;
}

.person__left li {
    margin-bottom: 30px;
    text-align: right;
    padding-right: 15px;
}

.person__right_card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    border-radius: 8px;
    padding: 15px 20px 20px;
    margin-bottom: 25px;
}

.card__top {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
}

h3 {
    font-family: 'SegoeUI-Bold';
    font-size: 18px;
    line-height: 24px;
}

.card__top p {
    font-family: 'SegoeUI';
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
}

.line__first, .line__second {
    font-family: 'SegoeUI';
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.line__first {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
}

.line__second {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.button {
    display: block;
    text-align: center;
    background: #034AFF;
    color: white;
    font-family: 'SegoeUI-Bold';
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    padding: 10px 0;
    border-radius: 8px;
}

h3 a {
    color: #034AFF;
}

.right__descript {
    background: white;
    padding: 15px 0 50px;
    border-radius: 8px;

}

.right__descript h3 {
    padding-left: 20px;
    margin-bottom: 15px;
}

.descript__list li {
    padding: 15px 0 20px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-family: 'SegoeUI';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.descript__list li p:first-child {
    margin-bottom: 10px;
}

.descript__list li p:last-child {
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    gap: 15px;
}

.person__middle {
    background: rgba(255, 255, 255, 0.25) url(icons/Rectangle\ 3.jpg) top/contain no-repeat;
    padding: 340px 40px 30px;
    counter-reset: number;
    
}

h1 {
    font-family: 'Segoe UI';
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 15px;
}

.middle__body_links {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
}

.middle__body_links a {
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    border-radius: 8px;
    padding: 3px 6px;
}

.middle__body_links a:first-child {
    background: #EBF3FF;
}

.middle__body_links a:nth-child(2) {
    background: #FBEBFF;
}

.middle__body_links a:nth-child(3) {
    background: #EFEBFF;
}

.middle__body_links a:last-child {
    background: #FFFDEB;
}

.middle__body_card {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;
    margin-bottom: 35px;
}

.middle__body_card img {
    width: 40px;
}

.middle__body_card h3 {
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.middle__body_card p {
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.middle__body_card a {
    color: #034AFF;
}

.middle__footer p,
.middle__footer ol {
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.middle__footer ol {
    margin-bottom: 30px;
    padding-left: 15px;
    line-height: initial;
}

ol li:not(:last-child) {
    margin-bottom: 5px;
}

.middle__footer p:first-child,
.middle__footer p:nth-child(2) {
    margin-bottom: 15px;
}

h2 {
    font-family: 'Gilroy-Bold';
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
}

h2::before {
    counter-increment: number;
    content: counter(number) ". ";
}

h2~p {
    margin-bottom: 30px;
}

.link__in__text {
    color: #034AFF;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

pre {
    background: #211E2B;
    border-radius: 8px;
    color: white;
    padding: 15px 0 0 20px;
    font-family: 'Consolas';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 30px;
}

pre~p {
    margin-bottom: 18px;
}

.fuck-tag {
    margin-top: 30px;
}

sup {
    font-family: 'Consolas';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background: #EDEDED;
    padding: 4px 9px;
    border-radius: 8px;
}

.footer__container {
    display: grid;
    grid-template-columns: minmax(auto, 80px) auto minmax(auto, 300px);
    column-gap: 30px;
}

.footer__body {
    padding: 30px 0 30px 40px;
    background: white;
    grid-column: 2/3;
}

.footer__body li {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;
    margin-bottom: 30px;
}

.footer__body h3 {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 21px;
}

.footer__body p {
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
}

h4 {
    font-family: 'Segoe UI';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}













