*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e0e0e0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px auto;
    max-width: 1110px;
}

.card {
    max-width: 255px;
    background: white;
    border: 2px solid #a9a9a9;
}

.card__header {
    text-align: right;
    padding:  5px 0;
}

.card__header span {
    background: black;
    color: white;
    padding: 5px 10px;
}

figure {
    padding: 60px 0;
    box-shadow: 0 2px 3px -1px gray;
    margin-bottom: 15px;
}

img {
    width: 100%;
}

.nonews {
    padding: 88px 0 60px;

}

h2 {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.coast {
    text-align: center;
    margin-bottom: 20px;
}

.coast span:first-child {
    color: #137f43;
    font-weight: 700;
}

.coast span:last-child {
    font-weight: 300;
    text-decoration: line-through;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #fe8155;
    margin-bottom: 15px;
}

.stars {
    display: flex;
    gap: 2px;
}

.icon-star, .icon-message {
    font-size: 0.75rem;
}

.icon-star:last-child {
    color: #aaaaaa;
}

.review span:last-child {
    font-size: 0.875rem;
}

.card__body_bottom {
    margin-bottom: 15px;
    text-align: center;
}

button {
    padding: 10px 40px;
    background: #137f43;
    color: white;
    border: none;
}
















