table {
    width: 450px;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

th, td {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

.center {
    text-align: center;
}