* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #a89ca8;
    padding: 5px;
}

header {
    font-size: 2rem;
    text-align: center;
    padding: 50px 0;
    background: #78cac3;
    color: white;
}

main {
    padding: 20px 0;
    display: flex; 
    gap: 15px;
}

aside {
    background: #73e673;
    flex: 1 0 auto;
    padding: 10px 20px 0 40px;
}

nav {
    color: #4b0082;
}

article {
    background: #ff7f50;
    flex: 0 1 auto;
    padding: 30px 20px 120px 20px;
}

h3, p {
    margin-bottom: 15px;
}

article footer {
    display: flex;
    justify-content: space-around;
}

img {
    border: 10px solid #ff00ff;
}

h4 {
    background: #78cac3;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

footer nav {
    display: flex;
    justify-content: space-around;
    background: #78cac3;
    padding: 40px 0;
}


